<div class="row">
    <div class="col-lg-12">
    	<div class="card">
  			<div class="card-header">
    			{{!-- {{categories.category_name}} --}}
  			</div>
  			<div class="card-body">
				<h5 class="card-title">{{this.place}}</h5>
				<h6 class="card-title">{{this.title}}</h6>
    			<p class="card-text">{{this.body}}</p>
    			{{!-- <a href="#" class="btn btn-primary">{{posts.name}}</a> --}}
  			</div>
		</div>
	</div>
   </div>