{{!-- display detail of profile --}}
<div id="detail" class="profileDetails">
    <div class="card-content">
        <p><b>Name:</b> {{userDb.dataValues.firstName}} {{userDb.dataValues.lastName}}</p>      
    </div>
</div>


<div id="profileReviewBox">
	<div id="profileReviewTitle">
		<h3>{{posts.name}}</h3>
	</div>
	<div id="profileReviewText">
		<p>{{posts.review}}</p>
	</div>
	<div id="profileReviewLinkBox">
		<p>{{posts.name}}</p>
		<p>{{posts.type}}</p>
	</div>
</div>


{{!-- Leave commented out - Derek H --}}

{{!-- <div class="col-md-6">
  <form id="cms">
    <div class="form-group">
      <label for="name">Name</label>
      <input placeholder="Post Title" type="text" class="form-control" id="name">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address">
      <label for="body">Review</label>
      <textarea placeholder="Review" class="form-control" rows="10" id="body"></textarea>
      <div class="form-group">
        <label for="category">Select Category:</label>
        <select class="form-control" id="category"></select>
      </div>
      <button type="submit" class="btn btn-success submit">Submit</button>
    </div>
  </form>
</div>
 --}}


{{!-- Fauna, John - Use this form to add posts --}}

{{!-- <div class="col-md-12">
    <form id="posts">
      <div class="form-group">
        <label for="title">Title</label>
        <input placeholder="Post Title" type="text" class="form-control" id="title">
        <label for="body">Body</label>
        <textarea placeholder="Body" class="form-control" rows="10" id="postBody"></textarea>
        <div class="form-group">
          <label for="category">Select Place:</label>
          <select class="form-control" id="place"></select>
        </div>
        <button type="submit" class="btn btn-success submit">Submit</button>
      </div>
    </form>
  </div> --}}

  <form id="cms-place">
    <div class="form-group">
      <label for="placeName">Name</label>
      <input placeholder="Post Title" type="text" class="form-control" id="placeName">
      <label for="placeAddress">Address</label>
      <input type="text" class="form-control" id="placeAddress">
      <div class="form-group">
        <label for="categoryId">Select Category:</label>
        <select class="form-control" id="categoryId"></select>
      </div>
      <div class="form-group">
        <label for="cityId">Select City:</label>
        <select class="form-control" id="cityId"></select>
      </div>
      <button type="submit" class="btn btn-success submit">Submit</button>
    </div>
  </form>